#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}


body {
  font-family: $brand-font;
  font-size: $paragraph-font-size;
  color: $color-grey1;
}
section {
  background-color: $color-grey4;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.top-nav-wrapper {
  position: fixed;
  width: 100%;
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  top: 0;
}

.sidebar-wrapper {
  width: 190px;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: $sidebar-color;
}

.content-wrapper {
  margin-top: 60px;
  margin-left: 190px;
  min-height: 100vh;
  max-width: 1090px;
  background-color: $color-grey4;
  border-top: $border-light;
  border-bottom: $border-light;
}

//.general-content{
//}

.box-border-shadow{
  background-color: $base-color;
  margin: 20px;
  box-shadow: 1px 1px 10px $color-grey2;
  border: $border-light;
  
}

/*[class*="col"] {
  border-color: #f1c40f;
  padding: 5px;
  float: left;
}

.col-1 {
  width: 8.334%;
}

.col-2 {
  width: 16.667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.334%;
}

.col-5 {
  width: 41.667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.334%;
}

.col-8 {
  width: 66.667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.334%;
}

.col-11 {
  width: 91.667%;
}

.col-12 {
  width: 100%;
}*/
