.modal-addNewLink {
  flex-flow: column;
  align-self: flex-start;
  top: 0;
  width: 100%;
  max-width: 1080px;
}
  
.compain-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: $border-light;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border-radius: 0;
  }

  input, select {
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: $font-color;
    border: $border-light;
    outline-color: $base-color;
    outline: .5px;
    padding: 5px 10px;
  }
  
  label {
    padding-bottom: 10px;
    align-self: flex-start;
    font-weight: bold;
  }
}

.component-schema-wrapper,
.component-select-wrapper {
  max-width: 440px;
  width: 100%;
  margin-right: 15px;
  margin-bottom: 30px;
}

.component-language-wrapper {
  min-width: 130px;
}

.component-select-wrapper {
  display: flex;
  align-items: flex-end;
}

.section-select-website {
  display: flex;
  flex-wrap: wrap;
  border-bottom: $border-light;
  justify-content: flex-start;
  padding: 15px;
  overflow-y: auto;
}

.links-form > p{
  margin: 0;
  padding: 15px;
  color: $font-color;
  font-weight: 600;
} 

.field-wrapper {
  width: 100%;
  max-width: 320px;
  height: 45px;
  margin: 0;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
       
    span {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 15px;
      border: $border-light;
      background-color: white;
    }
  }

  i {
    opacity: 0;
    font-size: 13px;
    color: $nav-user-color;
    cursor: pointer;
  }

  input:checked ~ label > span:before {
    content: '\2713\0020';
    position: absolute;
    color: $base-color;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  input:checked ~ label > span {
    background-color: $checkbox-checked-color;
  }  
}
      
.field-wrapper:hover {
  background-color: $bg-snd-color;

  i {
    opacity: 1;
  }
}

.links-button-area {
  width: 100%;
  flex-wrap: wrap;

  input {
    width: 100%;
    max-width: 760px;
    height: 40px;
    border: $border-light;
    font-size: 14px;
    padding-left: 10px;
  }

  div {
    width: 100%;
    max-width: 265px;
  }
}