@use "../variables";

.sidebar-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-color-second;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin-bottom: 2px;
    position: relative;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    background-image: linear-gradient(90deg, $border-color-second 50%, transparent 50%);
    transition: .7s ease;

    ::after {
      content: '';
      display: none;
      height: 40px;
      width: 5px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $brand-primary-color;
      transition: .7s ease;
    }

    i, a, span {
      font-size: 14px;
      margin-left: 16px;
      color: $font-color;
      transition: .7s ease;
      text-decoration: none;
    }

    &:hover {
      background-position: 0 100%;
    
      i,a {
        color: $base-color;
        margin-left: 30px;
      }

      ::after {
        display: block;
      }
    }
  }
}

.sidebar-list div:hover .sidebar-list::after{
  display: block;
}

.sidebar-manager{
  flex-direction: column;
  align-items: flex-start;
  margin-left: 14px;
  padding: 0;

  p {
    font-size: 14px;
    margin-top: 25px;
  }
}

.your-manager {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
}

.manager-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: $brand-primary-color;
  position: relative;
  
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: $checkbox-checked-color;
    border-radius: 50%;
  }

  img {
    background-color: $brand-primary-color;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.manager-name {
  margin-left: 10px;
  text-decoration: none;
  color: $nav-user-color;
}

.sidebar-profile-wrapper {
  background-color: inherit;
  display: none;
}

.profile-list {
  display: flex;
  flex-direction: column;
}