@use "../variables";

.top-nav {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 190px;
  justify-content: flex-end;
  background-color: $base-color;
  align-items: stretch;
  border: $border-light;
}
.top-nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 60px;
  div {
    width: 60px;
    color: $color-grey1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: .5px solid $color-grey3;
    font-size: 18px;
    i {
      cursor: pointer;
    }
  }
}

.icon-arrow-down {
  font-size: 10px;
}

.icon-quit {
  font-size: 16px;
}

.nav-right-wallet {
  margin: 0;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 190px;
  //border-left: .5px solid $color-grey3;
  span {
    font-weight: bolder;
  }
}

.nav-right-profile {
  margin: 0;
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    font-size: 13px;
    text-decoration: none;
    color: $nav-user-color;
  }
}

.nav-right-notif {
  position: relative;
  ::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid $primary-color;
    top: 17px;
    right: 21px;
    background-color: $primary-color;
    position: absolute;
  }
}


